<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <!-- <h3>Below are the skills i worked on/ I learned with Self-learnings</h3> -->
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Backend:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">C#, ASP.net Core MVC</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Frontend:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Angular, HTML, CSS, Material UI, Bootstrap, Node JS</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Database:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">MS-SQL</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Testing:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Selenium for Automation, Smoke testing</label>
        </div>
        <!-- <h3>I'm absolutely eager to learn new technologies, my work prefrences are not limitted upto above technologies. I would love to work on different technolgies, complex logics and Environments.</h3> -->
    </div>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-content>