<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Name:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Mihir Joshi</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">City:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Vadodara, Gujarat</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Social</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;"><a href="https://linkedin.com/in/mj1605">linkedin.com/in/mj1605</a></label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Current Job</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Collabera Digital</label>
        </div>
    </div>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-content>
