<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <!-- <h3>Let me share my educational details for your reference!!</h3> -->
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Primary Schooling:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Shreyas School, Vadodara</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Diploma:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">RMS Polytechnic, Vadodara</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">University:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Gujarat University</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Branch:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Electrical Engineering</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Passing year:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">November, 2011</label>
        </div>
    </div>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-content>