<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <!-- <h3>Below is my experience time-line along with work patterns!</h3> -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="form-control" for="" style="margin-bottom: 15px;">I started my journey as Technical Recruiter in Feb 2015 with well known MNC, Collabera Technologies(Currenty known as Collabera Digital). I worked here for 4 years (2015 to 2019)</label>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control" for="" style="margin-bottom: 15px;">In 2019 i joined as Corporate Recruiter in another MNC known as IBaseT Pvt. ltd., located in Ahmedabad, Gujarat. However, due to health issues and weather conditions, i couldnt build very long journey here and worked just for 6 months.</label>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control" for="" style="margin-bottom: 15px;">After a short break, i rejoined Collabera Technologies as Senior Talent Specialist from Auguest 2020. I was highly aspired and motivated to join IT team from beginning of my career. So i kept self-learning going on, and tried grasping various skills, languages and fundamentals by my own. I used learning platforms such as Udemy, Edureka, YouTube etc to learn problem solving, logic building and testing.</label>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control" for="" style="margin-bottom: 15px;">Somehow, in July 2022, i got opportunity to work closely with one of the IT team within Collabera. Here i got chance to work on various skills that includes ASP.net, ASP.net Core, C#, Angular for development, Selenium for UI testing and SQL for DB related activities.</label>
        </div>
    </div>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-content>