<app-header></app-header>
<br><br><br>
<!-- <div class="border">
    <div class="form-row">
        <div class="form-group col-md-2">
            <button mat-raised-button>About Me</button>
        </div>
        <div class="form-group col-md-2">
            <button mat-raised-button>Education</button>
        </div>
        <div class="form-group col-md-2">
            <button mat-raised-button>Experience</button>
        </div>
        <div class="form-group col-md-2">
            <button mat-raised-button>Skills</button>
        </div>
        </div>
    </div> -->

<div class="border" style="padding: 0;">
    <div class="form-row" style="padding: 15px;">
        <div class="details col-md-12">
            <div class="typewriter">
                <h1 style="font-size:80px; margin-top: 15px; margin-left: 10px; font-weight: 300;" ><b>Hi, {{userFirstName}}!</b></h1>
            </div>
            <br>
            <p style="margin: 10px;">My name is Mihir Joshi, I'm frontend developer based in Gujarat, India. I enjoy building everything from small business to rich interactive web apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me <a (click)="openContact()" style="color: purple; cursor: pointer;"><b>here</b></a>.</p>                    
            <br>
            <p style="margin: 10px;">In this web, i've mentioned few skills which i know or i worked on in recent activities, but my work search is not limitted upto mentioned items. I'm so much aspired to learn and experiment new skills. As of now my focused area is frontend development but i would love to work on backend or fullstack approaches.</p>
        </div>
        <!-- <img src="./Media1.jpg" alt="" class="form-control col-md-2" style="border-radius: 10px; background-color: black;" > -->
</div>